html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
ol, ul {
	list-style: none;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section { 
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	nargin: o auto 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 1200px;
}

h1 {
    margin-bottom: 20px;
		font-size: clamp(2.5rem, 5vw, 4rem);
		text-align:  center;
		font-weight: bold;
}
h2 {
	margin-bottom: 20px;
		font-size: clamp(2rem, 4vw, 3rem);
		text-align:  center;
		font-weight: bold;
}
li {
    padding: 10px;
	margin: 5px;
	width: 100%;
}
a {
	display: block;
	padding: 20px;
	background-color: #f8f8f8;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.5rem;
	text-align: center;
	border: 1px solid #eaeaea;
	color: #2a5885;
}
a:hover {
	background-color: #e8f0fe;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    li {
        width: calc(50% - 30px);
    }
}

@media (min-width: 992px) {
    li {
        width: calc(33.333% - 30px);
    }
}

@media (max-width: 767px) {
    section {
        padding: 15px;
    }
    
    a {
        padding: 10px;
    }
}